<footer class="footer fixed-bottom">
    <div class="container-fluid bg-dark mt-5">
        <div class="text-center text-white p-2 m-0">
            &copy; Les Argonautes {{ "now"|date('d/m/Y') }} - Made with ❤ by
            Marc-Alexandre Mitevski
        </div>
    </div>
</footer>